.container {
  max-width: 800px;
}

.card {
  border-radius: 15px;
  background-color: rgba(225, 225,225,0.5);
  margin-top: 120px;
}

.btn-primary {
  background-color: #198754;
  border-color: #198754;
  border-radius: 8px;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

label {
  font-weight: 600;
}

bi-bi-geo-alt-fill {
  background-color: red;
}
